:root {
  --white: #fff;
  --light: #f5eded;
  --red: #d72323;
  --black: #000;
  --grey: #3e3636;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
  color: var(--grey);
  font-size: 1.125rem;
  text-align: center;
}

h1 {
  margin: 0 auto;
  padding: 82px 32px 22px;
  color: var(--black);
  font-size: 7rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  max-width: 355px;
  line-height: 82px;
  letter-spacing: -4px;
}

h1 span {
  color: var(--red);
}

p {
  max-width: 355px;
  margin: 0 auto;
}

.line {
  margin: 21.5px auto 21.5px;
  height: 1px;
  background-color: var(--red);
  width: 90px;
}

input:first-child {
  margin-top: 43px;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  color: var(--grey);
  text-align: center;
  display: block;
  margin: 0 auto;
}

.input {
  margin: 0 auto 21.5px;
  width: 480px;
  height: 48px;
}

button {
  background-color: var(--red);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  width: 205px;
  height: 48px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 5rem;
    line-height: 62px;
  }

  .input {
    width: 304px;
  }
}
